.map {
    width:100%;
    height: 100%;
    min-height: 15em;
}

.gpxdownload {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 3;
}

/* Move the strange placement of the map copyright notice */
.ol-attribution {
    position:absolute;
    top: 0;
    right: 0;
}
/* Get rid of the bullet from the attribution */
.ol-attribution li {
    list-style: none;
}

.ol-attribution button {
    display: none;
}


.metric {
    display: none
}

.card {
    margin-bottom: 2em;
}

.filterlabel {
    font-weight: bold;
    padding-top: 1em;
}

#clublogo {
    margin-right: 2em;
}


#apply_filter {
    margin-top: 2em;
}

.slider-selection {
    background: gray;
}

#lastriddendiv, input {
    display: inline;
}
#lastriddendiv, select {
    display: inline
}

#more {
    display:none;
}

#morebutton {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

#filterbutton {
    margin-left: 0;
    padding-left: 2em;
    padding-right: 2em;
}

#filterdiv {
    background-color: #e9ecef;
}

button {
    margin: 0.5em;
}
select {
    margin: 0.5em;
}

h1 {
    margin-top: 1em;
}